# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
env/
venv/
ENV/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Firebase
pds-studio-firebase-adminsdk-fbsvc-cb9200e4d3.json


# Project-specific
instance/
.webassets-cache